@font-face {
  font-family: 'grim';
  src:  url('fonts/grim.eot?dm8vk3');
  src:  url('fonts/grim.eot?dm8vk3#iefix') format('embedded-opentype'),
    url('fonts/grim.ttf?dm8vk3') format('truetype'),
    url('fonts/grim.woff?dm8vk3') format('woff'),
    url('fonts/grim.svg?dm8vk3#grim') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="grim-icon-"], [class*=" grim-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'grim' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grim-icon-external-link:before {
  content: "\e924";
}
.grim-icon-user:before {
  content: "\e923";
}
.grim-icon-base-tooltip:before {
  content: "\e902";
}
.grim-icon-arrow-down_sm:before {
  content: "\e903";
}
.grim-icon-arrow-down:before {
  content: "\e904";
}
.grim-icon-arrow-left:before {
  content: "\e905";
}
.grim-icon-arrow-up_sm:before {
  content: "\e906";
}
.grim-icon-arrow-up:before {
  content: "\e907";
}
.grim-icon-calendar:before {
  content: "\e908";
}
.grim-icon-check_sm-Stroke:before {
  content: "\e909";
}
.grim-icon-check-circle:before {
  content: "\e90a";
}
.grim-icon-check:before {
  content: "\e90b";
}
.grim-icon-chevron-down:before {
  content: "\e90c";
}
.grim-icon-chevron-left:before {
  content: "\e90d";
}
.grim-icon-chevron-right:before {
  content: "\e90e";
}
.grim-icon-chevron-up:before {
  content: "\e90f";
}
.grim-icon-copy:before {
  content: "\e910";
}
.grim-icon-download:before {
  content: "\e911";
}
.grim-icon-edit:before {
  content: "\e912";
}
.grim-icon-file-text:before {
  content: "\e913";
}
.grim-icon-google:before {
  content: "\e914";
}
.grim-icon-help:before {
  content: "\e915";
}
.grim-icon-home:before {
  content: "\e916";
}
.grim-icon-image:before {
  content: "\e917";
}
.grim-icon-information:before {
  content: "\e918";
}
.grim-icon-logo-fill:before {
  content: "\e919";
}
.grim-icon-logo-outline:before {
  content: "\e91a";
}
.grim-icon-play-circle:before {
  content: "\e91b";
}
.grim-icon-plus:before {
  content: "\e91c";
}
.grim-icon-search:before {
  content: "\e91d";
}
.grim-icon-single-sitemap:before {
  content: "\e91e";
}
.grim-icon-sitemap-index:before {
  content: "\e91f";
}
.grim-icon-sliders-horizontal:before {
  content: "\e920";
}
.grim-icon-trash:before {
  content: "\e921";
}
.grim-icon-upload:before {
  content: "\e922";
}
.grim-icon-arrow-right:before {
  content: "\e901";
}
.grim-icon-star:before {
  content: "\e900";
}
